<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Rei's Stuff</string>
	<key>ordering</key>
	<array>
		<string>4C38BD41-A72A-454C-8C70-5A57819CAB78</string>
		<string>F08E9E4E-40E0-4CB9-AD86-269E08A5ABE1</string>
		<string>45D481CC-8D6E-4F86-B40F-1E70754D5498</string>
		<string>D9291B85-EE0F-440A-BFEE-E11989CB8BD3</string>
	</array>
	<key>uuid</key>
	<string>F57A33D8-6322-45FB-A3A2-059ABAD14C86</string>
</dict>
</plist>
