<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Rei's Stuff</string>
	<key>ordering</key>
	<array>
		<string>4C38BD41-A72A-454C-8C70-5A57819CAB78</string>
	</array>
	<key>uuid</key>
	<string>F57A33D8-6322-45FB-A3A2-059ABAD14C86</string>
</dict>
</plist>
